{%  extends 'main.html' %}
{% load static %}

{% block content %}

{%  include 'user_status.html' %}
<hr>

<div class="row">
    <div class="col-md-12">
        <strong><h3>My Todo List</h3></strong>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th> ID </th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delte</th>
                    
                </tr>

                {% for todo in todos %}
                    <tr>
                        <td> {{ todo.id}} </td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.completed }}</td>
                        <td>{{ todo.created_at }}</td>
                        <td><a class= "btn btn-sm btn-primary" href="{% url 'todo_detail' todo.id %}"> View </a></td>
                        <td><a class= "btn btn-sm btn-info" href="{}"> Update </a></td>
                        <td><a class= "btn btn-sm btn-danger" href="#"> Delete </a></td>
                    </tr>

				{% endfor %}

            </table>
        </div>
        {% comment %} {% if reviewer %}
        <strong><h3>Assigned Abstracts</h3></strong>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th> ID </th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Presentation Type</th>
                    <th>Track</th>
                    <th>Date Submitted</th>
                    <th>Update</th>
                    <th>Delte</th>
                    
                </tr>

                {% for abstract in abstracts %}
                    <tr>
                        <td> {{ abstract.id}} </td>
                        <td>{{ abstract.abstract_title }}</td>
                        <td>{{ abstract.status }}</td>
                        <td>{{ abstract.presentation_type }}</td>
                        <td>{{ abstract.track }}</td>
                        <td>{{ abstract.date_created }}</td>
                        <td><a class= "btn btn-sm btn-info" href="{}"> Update </a></td>
                        <td><a class= "btn btn-sm btn-danger" href="{% url 'delete_abstract' abstract.id %}"> Delete </a></td>
                    </tr>

				{% endfor %}

            </table>
        </div>
        {% endif %} {% endcomment %}
    </div>
    
</div>


{% endblock %}