{% extends 'main.html' %}
{% load static %}

{% block content %}

<br>

<div class="container h-50">
    <div class="col-md-12">
        <div class="card card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md">
                            <div class="card card-body">
                                <label for="author_information"><strong> Title </strong></label>
                                {{ todo.title }}
                                <label for="email"><strong> Description </strong></label> <br>
                                {{ todo.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
